<!-- <img src="../../assets/images/202572.jpg" alt="..." (click)="test($event)"> -->

 <div class=" mx-2">

    <div class="flex flex-row">
        <input  type="text" id="search" placeholder="Search..." [(ngModel)]="search" class="rounded-lg w-2/6 border border-gray-300 px-3 py-2" style="color:black ; outline:none" />
    </div>

    <div class="flex flex-wrap">        
        <div class="w-1/3 p-4 align-middle">
            <div class="brdr w-1/4"></div>
            <div class="py-4">
                <h2 class="text-5xl my-4">Trending <br>Movies <br>to Watch Now</h2>
                <p class="text-xl text-gray-500 pt-3">Most watched movies by days</p>
            </div>
            <div class="brdr w-full"></div>
        </div>

        <div class="singleMovie p-1 relative w-1/6" *ngFor="let movie of trendingMovies | search:search">

            <app-media-item  [movie]="movie"></app-media-item>
        </div>

        <!-- <div class="singleMovie p-1 relative w-1/6"  *ngFor="let movie of trendingMovies">
            <div class="movie w-11/12 mx-auto">
                <figure class="w-100">
                    <img [src]="'http://image.tmdb.org/t/p/w500/'+movie.poster_path" alt="..."/>
                    
                    <figcaption>
                        <h3>{{movie.title}}</h3>
                        <span class="p-1 absolute top-0 right-0 z-10 bg-emerald-500">{{movie.vote_average.toFixed(1)}}</span>
                    </figcaption>

                </figure>
                
            </div>
        </div> -->
        
    </div>
        
</div>

 <div class=" mx-2 pt-20">
    <div class="flex flex-wrap">   

        <div class="w-1/3 p-4 align-middle">
            <div class="brdr w-1/4"></div>
            <div class="py-4">
                <h2 class="text-5xl my-4">Trending <br>TV <br>to Watch Now</h2>
                <p class="text-xl text-gray-500 pt-3">Most watched TV by days</p>
            </div>
            <div class="brdr w-full"></div>
        </div>

        <div class="singleMovie p-1 relative w-1/6" *ngFor="let Tv of trendingTv ">

            <app-media-item  [movie]="Tv"></app-media-item>
        </div>

        <!-- <div class="singleMovie p-1 relative w-1/6"  *ngFor="let movie of trendingMovies">
            <div class="movie w-11/12 mx-auto">
                <figure class="w-100">
                    <img [src]="'http://image.tmdb.org/t/p/w500/'+movie.poster_path" alt="..."/>
                    
                    <figcaption>
                        <h3>{{movie.title}}</h3>
                        <span class="p-1 absolute top-0 right-0 z-10 bg-emerald-500">{{movie.vote_average.toFixed(1)}}</span>
                    </figcaption>

                </figure>
                
            </div>
        </div> -->
        
    </div>
        
</div>
 <div class=" mx-2 pt-20">
    <div class="flex flex-wrap">   

        <div class="w-1/3 p-4 align-middle">
            <div class="brdr w-1/4"></div>
            <div class="py-4">
                <h2 class="text-5xl my-4">Trending <br>people <br>to Watch Now</h2>
                <p class="text-xl text-gray-500 pt-3">Most watched people by days</p>
            </div>
            <div class="brdr w-full"></div>
        </div>

        <div class="singleMovie p-1 relative w-1/6" *ngFor="let people of trendingPeople">

            <app-media-item  [movie]="people"></app-media-item>
        </div>

        <!-- <div class="singleMovie p-1 relative w-1/6"  *ngFor="let movie of trendingMovies">
            <div class="movie w-11/12 mx-auto">
                <figure class="w-100">
                    <img [src]="'http://image.tmdb.org/t/p/w500/'+movie.poster_path" alt="..."/>
                    
                    <figcaption>
                        <h3>{{movie.title}}</h3>
                        <span class="p-1 absolute top-0 right-0 z-10 bg-emerald-500">{{movie.vote_average.toFixed(1)}}</span>
                    </figcaption>

                </figure>
                
            </div>
        </div> -->
        
    </div>
        
</div>
